h1{
    align-items: center;
    text-align: center;
}
h2{
    text-align: center;
}
.p1{
    font-size:large;
  text-align: justify;  
}
.p2{
    font-size: large;
    text-align: justify;
}
#imagen1{
    width: 100%;
    opacity: 90%;
    float: left;
}
h3{
    text-align: center;
    color: blue;
}