.nav-enlace{
    display: inline-block;
    background-color: salmon;
    color: #ffffffff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover{
    background: rosybrown;
}

nav{
    background-color: blue;
    padding: 10px;
    display: flex;/*grid*/
    justify-content: space-around;
}
.nav-boton{
  background-color: salmon;
  color: white;
  padding: 10px 0px;
  border: 2px solid white;
  display: none;
}
@media (max-width: 600px){
  nav{
    background-color: black;
    flex-direction: column;
  }
  .nav-enlace{
    margin: 10px 0px;
  }
  .nav-boton{
    display:inline-block;
  }
  .desaparece{
    display: none;
  }
}
